<!doctype html>
<html>
    <body>
        <h1>
            This is my first home task
        </h1>   
        <ol>
            <li>
                <a href="{{ url_for('req_list') }}">
                    Возвращать содержимое файла с пайтон пакетами (requirements.txt)
                </a>
            </li>
            <li>
                <a href="{{ url_for('user_data') }}">
                    Вывести 100 случайно сгенерированных юзеров (почта + имя)
                </a>
            </li>
            <li>
                <a href="{{ url_for('average_params') }}">
                    Средний рост, средний вес (см, кг) 
                </a>
            </li>
            <li>
                <a href="{{ url_for('astros') }}">
                    Получить количество космонавтов в настоящий момент 
                </a>
            </li>
        </ol>
        <p>In my home task I used next features:</p>
        <ul>
            <li>
                I used
                <a href="https://livereload.readthedocs.io/en/latest/">
                    livereload
                </a>
                package to automatic reload Flask during developing
            </li>
            <li>
                I used pandas python library to open "hw.csv"
                Working with pandas array is faster than pure python array
            </li>
        </ul>
    </body>
</html>